<h1 style="text-align: center">Order</h1> 
<h2 style="text-align: center">Congrats you have successfully purchased ... NOTHING, for the lovely price of 1$ </h2>

<h3 style="text-align: center"> This is <%= $result.success? %> that you have made this purchase </h3>
<h4 style="text-align: center"> We had a successful <%= $result.transaction.type %></h4>
<h5 style="text-align: center"> And lucky for you, it was <%= $result.transaction.status %>, which means we are in the process of charging you. </h5>
<h6 style="text-align: center"> Have a great day!</h6>
